* {
				margin: 0;
				padding: 0;
			}
			
			.html {
				width: 100%;
				height: 100%;
			}
			
			.body {
				width: 100%;
				height: 100%;
			}
			.zongde{
				display: flex;
				justify-content: space-around;
				align-items: center;
				position: fixed;
width: 100%;
top: 0;
			}
			.zongde .hover{
				opacity: 0.5;
			}
			.bannernav {
				width: 100%;
				height: 150px;
				background-color: rgba(0,0,0,0.5);
				display: flex;
justify-content: space-evenly;
				align-items: center;


			}

			.bannernav a {
				color: white;
				text-decoration: none;
				font-size: 18px;

			}
.bannernav a:hover{
	color: red;
	font-size: 20px;
}

			.bannernav img {
			align-self: auto;
			}


			.san {
				display: flex;
				justify-content: space-around;
			}
			.san a{
				text-decoration: none;
				color: black;
			}
			.red {
				font-size: 50px;
				color: red;
			}
			
			.hezi4 {
				display: flex;
				justify-content: space-around;
				align-items: center;
			}
			.hezi4 a{
				text-decoration: none;
				color: black;
			}
	.sekuai1 {
				width: 100%;
				height: 160px;
				background-color:black;
				display: flex;
				align-items: center;
				justify-content: space-around;
			}

			.sekuai1 a {
color: white;
				font-size: 18px;
				text-decoration: none;
			}
			.sekuai1 a:hover{
				color: red;
				font-size: 20px;
			}

			.sekuai1 p {
color: white;
				font-size: 18px;
			}